# Exploration des des datasets

In [1]:
import pandas as pd

## Données hospitalières cumulées
(cov.csv)

In [3]:
cov = pd.read_csv("cov.csv", sep=";")

In [4]:
# Dimensions du dataset (lignes, colonnes)
cov.shape

(78477, 7)

In [6]:
# Description générale du dataset
cov.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78477 entries, 0 to 78476
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   dep     78477 non-null  object
 1   sexe    78477 non-null  int64
 2   jour    78477 non-null  object
 3   hosp    78477 non-null  int64
 4   rea     78477 non-null  int64
 5   rad     78477 non-null  int64
 6   dc      78477 non-null  int64
dtypes: int64(5), object(2)
memory usage: 4.2+ MB

In [5]:
# Affichage des dernières lignes
cov.tail()

       dep  sexe        jour  hosp  rea  rad  dc
78472  974     1  2020-12-01    33    4  317  23
78473  974     2  2020-12-01    35    7  315  26
78474  976     0  2020-12-01     9    2  515  35
78475  976     1  2020-12-01     6    1  249  21
78476  976     2  2020-12-01     3    1  260  14

Informations sur les colonnes :

dep = Département (type 'str' et non 'int' car dep. Corse = 2A et 2B)

sexe = 0 : h/f | 1 : h | 2 : f

jour = Date de notification

hosp = Nombre d'hospitalisations

rea = Nombre de patients en réanimation

rad = Nombre de personnes retournées à domicile

dc = Nombre de décès en milieu hospitalier

## Exploration des nouvelles données hospitalières
(covn.csv)

In [8]:
covn = pd.read_csv("covn.csv", sep=";")

In [9]:
covn.shape

(26058, 6)

In [11]:
covn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26058 entries, 0 to 26057
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   dep         26058 non-null  object
 1   jour        26058 non-null  object
 2   incid_hosp  26058 non-null  int64
 3   incid_rea   26058 non-null  int64
 4   incid_dc    26058 non-null  int64
 5   incid_rad   26058 non-null  int64
dtypes: int64(4), object(2)
memory usage: 1.2+ MB

In [10]:
covn.tail()

       dep        jour  incid_hosp  incid_rea  incid_dc  incid_rad
26053  976  2020-11-27           2          1         0          2
26054  976  2020-11-28           0          0         0          2
26055  976  2020-11-29           0          0         0          0
26056  976  2020-11-30           2          0         0          1
26057  976  2020-12-01           1          0         0          1

Informations sur les colonnes :

dep = département (type 'str' et non 'int' car dep. Corse = 2A et 2B)

jour = Date de notification

incid_hosp = Nombre quotidien de personnes nouvellement hospitalisées

incid_rea = Nombre quotidien de nouvelles admissions en réanimation

incid_dc = Nombre quotidien de personnes nouvellement décédées

incid_rad = Nombre quotidien de nouveaux retours à domicile

## Données hospitalières par classe d'âge
(cova.csv)

In [12]:
cova = pd.read_csv("cova.csv", sep=";")

In [13]:
cova.shape

(51282, 7)

In [14]:
cova.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51282 entries, 0 to 51281
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   reg       51282 non-null  int64
 1   cl_age90  51282 non-null  int64
 2   jour      51282 non-null  object
 3   hosp      51282 non-null  int64
 4   rea       51282 non-null  int64
 5   rad       51282 non-null  int64
 6   dc        51282 non-null  int64
dtypes: int64(6), object(1)
memory usage: 2.7+ MB

In [15]:
cova.tail()

       reg  cl_age90        jour  hosp  rea  rad  dc
51277   94        59  2020-12-01     3    1   75   5
51278   94        69  2020-12-01    12    4   80  10
51279   94        79  2020-12-01     8    0  104  27
51280   94        89  2020-12-01    12    0   85  47
51281   94        90  2020-12-01     5    0   27  19

In [16]:
# Valeurs uniques de classe d'âge
cova['cl_age90'].unique()

array([ 0,  9, 19, 29, 39, 49, 59, 69, 79, 89, 90], dtype=int64)

Informations sur les colonnes :

reg = Région départementale

cl_age90 :

0 = Toutes classes d'âge confondues

9 = 0-9 ans

19 = 10-19 ans

29 = 20-29 ans

39 = 30-39 ans

49 = 40-49 ans

59 = 50-59 ans

69 = 60-69 ans

79 = 70-79 ans

89 = 80-89 ans

90 = 90+ ans

jour = Date de notification

hosp = Nombre de personnes actuellement hospitalisées

rea = Nombre de personnes actuellement en réanimation ou soins intensifs

rad = Nombre cumulé de personnes retournées à domicile

dc = Nombre cumulé de personnes décédées

## Données de dépistage

In [17]:
covd = pd.read_csv("covd.csv", sep=";")

In [19]:
covd.shape

(228800, 5)

In [20]:
covd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 228800 entries, 0 to 228799
Data columns (total 5 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   dep       228800 non-null  object
 1   jour      228800 non-null  object
 2   P         228800 non-null  int64
 3   T         228800 non-null  int64
 4   cl_age90  228800 non-null  int64
dtypes: int64(3), object(2)
memory usage: 8.7+ MB

In [21]:
covd.tail()

        dep        jour  P   T  cl_age90
228795  978  2020-11-28  0   0        69
228796  978  2020-11-28  0   0        79
228797  978  2020-11-28  0   0        89
228798  978  2020-11-28  0   0        90
228799  978  2020-11-28  1  10         0

Informations sur les colonnes :

dep = Département

jour = Date de notification

P = Nombre de tests positifs

T = Nombre total de tests

cl_age90 :

0 = Toutes classes d'âge confondues

9 = 0-9 ans

19 = 10-19 ans

29 = 20-29 ans

39 = 30-39 ans

49 = 40-49 ans

59 = 50-59 ans

69 = 60-69 ans

79 = 70-79 ans

89 = 80-89 ans

90 = 90+ ans